@charset "utf-8";

/*Estilos de Header*/
html {
  background-color: gray;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: black;
  width: 80%;
  border-radius: 20px;
  padding: 16px 32px 16px 32px;
}
.data {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}
h1 {
  margin: 0;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
h3 {
  color: white;
}
a {
  color: violet;
}
li {
  color: white;
  margin-bottom: 10px;
}
.autorData {
  margin: 0px 10px 0px 0px;
  color: white;
}
section {
  display: flex;
  justify-content: center;
}
article {
  background-color: black;
  border-radius: 20px;
  padding: 32px 32px 24px 32px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
iframe {
  margin: 24px 0px 24px 0px;
  width: 560px;
  height: 315px;
}
p {
  margin: 0;
  color: white;
}
.top3-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
.principla-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  background-color: black;
  width: 80%;
  border-radius: 20px;
  padding: 16px 32px 16px 32px;
}
.tags-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.tags {
  margin-right: 16px;
}
.socialmedia {
  width: 62px;
  height: 62px;
  margin-left: 24px;
}
hr {
  border-color: gray;
  width: 100%;
}
